<html>
<head>
  <title> Patients
  </title>
</head>
<body>
  <a href="/Nouveau" method = 'POST'>Nouveau Patient? </a>
  <a href="/Modifier" method = 'POST'>modifier? </a>
  <form action="" method="GET">
		<center>
			<br>Identification du patient</br>
			<br><label for="identifiant"> Identifiant</label>
			<input type="text" name="id"placeholder="identifiant"></br>
			<br><input type="submit" value="Go !"/></br>
      <h3>Infomations du Patient </h3>
      <br><label for="Nom"> Nom:{{Patient['name']}}</label>
      <br><label for="Genre"> Genre:{{Patient['gender']}}</label>
      <br><label for="Date"> Date de naissance:{{Patient['birthDate']}}</label>
      <br><label for="Adresse"> Adresse:{{Patient['address']}}</label>
      <h3>Infomations traitement </h3>
      <br><label for="note"> Note:{{Medication['note']}}</label>
      <br><label for="Durée"> Durée:{{Medication['dispenseRequest'][0]['initialFill']['duration']}}</label>
      <br><label for="id"> Identification du médoc:{{Medication['groupIdentifier']}}</label>
      <br><label for="dosage"> Dosage:{{Medication['dosageInstruction']}}</label>


		</center>
	</form>
</body>
<footer>
    <br>© Copyright {{Organisation['name']}} from the {{Organisation['contact'][0]['purpose']}} {{Organisation['contact'][0]['name']}} </br>
    tel : {{Organisation['contact'][0]['telecom'][0]['telephone']}} Mail : {{Organisation['contact'][0]['telecom'][0]['email']}}
</footer>
</html>
